.skills {
    display: flex;
    align-items: center;
}

.skills .container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
}

.skills .text {
    width: 646px;
    flex-shrink: 0;
}

.skills .grid {
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.skills .grid > div {
    width: 8vw;
    height: 8vw;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    background-origin: content-box;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.skills .grid > div.fake-box {
    background-color: #ebebeb;
    padding: 10px;
}

.skills .grid > div.fake-box div {
    z-index: -1;
}

.skills .grid div div {
    width: 100%;
    height: 100%;
    background-color: #ebebeb;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    background-origin: content-box;
    padding: 10px;
    position: absolute;
    top: 0;
    left: 0;
    transition: top 2s, left 2s, right 2s, bottom 2s, height 2s, width 2s;
    z-index: 1;
}

.skills .stop-transitions {
    transition: none !important;
}

.skills .grid .active {
    grid-column-start: span 3;
    grid-row-start: span 3;
}

.skills .grid .large {
    height: 100%;
    width: 100%;
}

@media screen and (max-width: 1500px) {
    .skills .container {
        gap: 5px;
    }
}

@media screen and (max-width: 1050px) {
    .skills h2 {
        text-align: center;
        margin-bottom: 25px;
    }
    .skills .container {
        flex-direction: column;
    }
    .skills .text {
        width: 100%;
    }

    .skills .grid > div {
        width: 17vw;
        height: 17vw;
    }
}
