footer {
    min-height: 125px;
    background-color: #E4E4E4;
    padding: 15px 15px;
    display: flex;
    align-items: center;
}

footer .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: relative;
}

footer .footer-text {
    width: 80%;
    display: flex;
    gap: 100px;
    align-items: center;
}

footer .icons img {
    height: 50px;
    margin-right: 30px;
}

footer .icons a:last-of-type img {
    margin-right: 0;
}

footer .name-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--text-color);
}

footer .name-container .name {
    font-size: 1.25em;
}

footer ul {
    display: flex;
    list-style-type: none;
    gap: 100px;
}

footer ul li a {
    color: var(--text-color);
    transition: color 0.4s;
    text-decoration: none;
}

footer ul li a:hover {
    color: var(--accent-color);
}

footer .copyright {
    font-size: 0.75em;
    position: absolute;
    bottom: -26px;
    right: 0;
}

@media screen and (max-width: 870px) {
    footer .container {
        flex-direction: column;
        gap: 20px;
    }

    footer .footer-text {
        flex-direction: column;
        gap: 20px;
    }

    footer ul {
        flex-direction: column;
        gap: 20px;
        align-items: center;
    }

    footer .copyright {
        position: relative;
        bottom: 0;
        right: 0;
    }
}