:root {
    --text-color: #707070;
    --accent-color: #00a6fc;
    --accent-hover-color: #0091dc;
    --box-shadow-color: #ebebeb;
    --horizontal-space: 15px;
    --vertical-space: 150px;
    --title-space: 25px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-size: 16px;
    font-family: Arial;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--text-color);
    font-weight: normal;
    margin-bottom: var(--title-space);
}

p {
    color: var(--text-color);
}

a {
    color: var(--text-color);
    transition: color 0.4s;
}

a:hover {
    color: var(--accent-hover-color);
}

.highlight {
    color: var(--accent-color);
}

.container {
    max-width: 1900px;
    margin: 0 auto;
}

section {
    padding: calc(var(--horizontal-space) * 2) var(--horizontal-space);
}

section:nth-of-type(odd) {
    margin-bottom: var(--vertical-space);
}

h1,
h2 {
    font-size: 3.5em;
}

@media screen and (max-width: 1050px) {
    h1,
    h2 {
        font-size: 2.5em;
    }
}

@media screen and (max-width: 700px) {
    h1,
    h2 {
        font-size: 2em;
    }
}
